html {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: blue;
}
h1{
  text-align: center;  
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
li {
    font-size: 12px;
    color: green;
    text-align: left;
}
body{
    width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 50px solid black;
}
img {
    display: block;
    margin: 0 auto;
}